Django==1.8.5
Jinja2==2.7.3
MarkupSafe==0.23
Pillow==3.0.0
django-compressor==1.5
PyYAML==3.11
ansible==1.9.1
django-debug-toolbar==1.4
easy-thumbnails==2.2
gunicorn==19.3.0
jack-bower==0.1.8
django-import-export==0.2.8
ecdsa==0.13
paramiko==1.15.2
psycopg2==2.6
pycrypto==2.6.1
sqlparse==0.1.14
wsgiref==0.1.2
