{% load static %}
{% load staticfiles %}
<!DOCTYPE html>
<html>
<head lang="zh-tw">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="古早味,童玩,跳跳糖,抽抽樂,晶晶象皮糖,大豬公,跳跳糖,洞洞樂,巧克力膏">
    <link rel="stylesheet" type="text/css" href="{% static 'css/reset.min.css' %}">
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <title>{% block title %}{% endblock title %}</title>
    <link rel="icon" type="image/png" href="{% static 'img/rechan_favicon.png' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    {% block ext_css %}{% endblock ext_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
</head>

<body>

{##}
    {% include 'includes/header.html' %}
    {% block body %}{% endblock body %}
    {% include 'includes/footer.html' %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    {% block ext_js %}{% endblock ext_js %}
    <!------- My JS ------->
    <script src="{% static 'js/main.js' %}"></script>
</body>
</html>