{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
    瑞成糖果玩具購物網
{% endblock title %}

{% block ext_css %}
{% endblock ext_css %}

{% block body %}
    <p>目前位置：</p>
    <div class="product_zone">
        <div>
            {% for prod in prods %}
            <div class="card">
                <a href="{% url 'product' prod.id %}"><img class="prod_img" src="{{ prod.photo.url }}"/></a>
            </div>
            {% endfor %}
        </div>
    </div>



{% endblock %}

{% block ext_js %}
{% endblock ext_js %}
