{% load staticfiles %}

    <!-- Footer -->
    <footer class="container-fluid">
      <div>
        <section class="links col-sm-12 col-md-6">
            <a target="_blank" href="https://www.facebook.com/ruichengcandy?fref=ts">
              <span>臉書粉絲團</span>
            </a>
            <a target="_blank" href="{% url 'faq' %}">
              <span>常見問題</span>
            </a>
            <a target="_blank" href="{% url 'faq' %}">
              <span>寄信給我們</span>
            </a>
{#            <a class="admin-only" href="#">#}
{#              <span>進貨</span>#}
{#            </a>#}
{#            <a class="admin-only" href="#">#}
{#              <span>顧客下單確認</span>#}
{#            </a>#}
        </section>

        <section class="map col-sm-12 col-md-6">
          <div>
            <h2>瑞成實體店面</h2>
            <p>
              <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
              台中市中區興中街22號, Taichung, Taiwan
            </p>
            <p>
              <span class="glyphicon glyphicon-phone-alt" aria-hidden="true"></span>
              (04) 2221-4592
            </p>
          </div>
        </section>

        <section class="copyright col-xs-12">
          <p>&copy; 2015 瑞成糖菓玩具行</p>
        </section>
      </div>
    </footer>